<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certifications</title>
<link rel="stylesheet" href="../static/css/certifications.css">
</head>
<body>
    <h2>Certifications</h2>
    <div class="grid">
        <div>Certified in Programming Fundamentals using Python</div>
        <div>Certified in Basics of Python</div>
        <div>Certified in Introduction to Internet of Things</div>
        <div>Certified in Data Science and Analytics</div>
        <div>Certified in Machine Learning for IIoT</div>
        <div>Certified in Management Information System</div>
        <div>Certified in E-Business</div>
    </div>
    <a href="index.html">Back to Home</a>
</body>
</html>
