<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
<link rel="stylesheet" href="../static/css/projects.css">
</head>
<body>
    <h2>Projects</h2>
    <div class="grid">
        <div>
            <h3>Home Automation</h3>
            <p>Designed to enhance energy efficiency and conservation.</p>
        </div>
        <div>
            <h3>Smart Cane for Visually Impaired</h3>
            <p>Enhanced mobility and independence through obstacle detection.</p>
        </div>
        <div>
            <h3>Project 1</h3>
            <p><a href="https://github.com/iamdpsingh/project1">GitHub</a></p>
        </div>
        <div>
            <h3>Project 2</h3>
            <p><a href="https://github.com/iamdpsingh/project2">GitHub</a></p>
        </div>
    </div>
    <a href="index.html">Back to Home</a>
</body>
</html>
