<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
<link rel="stylesheet" href="../static/css/skills.css">
</head>
<body>
    <h2>Technical Skills</h2>
    <div class="grid">
        <div>Python</div>
        <div>Flask</div>
        <div>HTML</div>
        <div>CSS</div>
        <div>JavaScript</div>
        <div>React</div>
        <div>SQL</div>
        <div>Machine Learning</div>
        <div>Data Science</div>
        <div>Internet of Things (IoT)</div>
    </div>
    <a href="index.html">Back to Home</a>
</body>
</html>
