<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training & Internships</title>
    <link rel="stylesheet" href="../static/css/training.css">
</head>
<body>
    <h2>Training & Internships</h2>
    <div>
        <h3>Job Oriented Value Added Course (JOVAC)</h3>
        <p>GLA University, Mathura | June 2024 – July 2024</p>
        <p>Learnt basics of HTML, CSS, JavaScript, Flask, and AWS. Created a project named “Animal Care Web Application – HosPet” using JavaScript.</p>
    </div>
    <a href="index.html">Back to Home</a>
</body>
</html>
